.gpt3__footer-links_container-column {
  flex: 1;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  justify-content: flex-start;
  align-content: flex-start;
  align-items: flex-start;
}

.gpt3__footer-links_container-column h4 {
  font-family: var(--font-family);
  font-weight: 800;
  font-size: 16px;
  line-height: 18px;
  margin-bottom: 2.75rem;
}

.gpt3__footer-links_container-column a {
  font-family: var(--font-family);
  color: #fff;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  margin-bottom: 1.75rem;
  border-bottom: 1px solid transparent;
  padding-bottom: 0.25rem;
}

.gpt3__footer-links_container-column a:hover {
  -webkit-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  border-color: var(--color-btn);
  color: var(--color-btn);
}
